#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.App {
  display: flex;
  place-content: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.filter:hover {
  color: white;
}
.todos:first-child {
  border-radius: 7px 7px 0 0;
}
.footer {
  border-radius: 0 0 7px 7px;
}
